:root {
  --primary-color: #4d5ae5;
  --secondary-color: #2e2f42;
  --icon-fill-color: #f4f4fd;
  --customers-icon-color: #8e8f99;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #434455;
}

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.section-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.second-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-align: center;
}
.work .second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}
.describtion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-close-btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-dur-func),
    border var(--transition-dur-func);
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.menu-close-btn-icon {
  transition: fill var(--transition-dur-func);
}
.menu-close-btn:hover .menu-close-btn-icon {
  fill: #ffffff;
}
.menu-close-btn:focus .menu-close-btn-icon {
  fill: #ffffff;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu-phone {
  font-style: normal;
  color: var(--primary-color);
}
@media screen and (max-width: 384px) {
  .mobile-menu-phone {
    font-size: 24px;
  }
}
.mobile-menu-email {
  display: block;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-func);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icon {
  fill: var(--icon-fill-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  margin-right: 76px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo-studio {
  color: var(--secondary-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Hero */

.hero {
  margin-right: auto;
  margin-left: auto;
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
  background: rgba(46, 47, 66, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mobile.jpg);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-tablet.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-desktop.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-desktop@2x.jpg');
  }
}

.hero-header {
  max-width: 320px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-func);
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.work-item-picture {
  display: none;
}
.section-work {
  display: none;
}
/* Section Team */
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.team-member {
  max-width: 264px;
  margin-bottom: 72px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-member:hover .social-list-link {
  background-color: #404bbf;
}
.team-member:focus .social-list-link {
  background-color: #404bbf;
}
.team-content-wrapper {
  padding: 32px 0;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: background-color var(--transition-dur-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

/* Section Customers */
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.customers-list-link {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  color: var(--customers-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: border-color var(--transition-dur-func),
    color var(--transition-dur-func);
}

@media screen and (min-width: 320px) {
  .customers-list-item {
    flex-basis: calc((100% - 16px) / 2);
    max-width: 168px;
  }
}
@media screen and (max-width: 380px) {
  .customers-list-link {
    width: 100%;
  }
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-list-icon {
  fill: currentColor;
  transition: fill var(--transition-dur-func);
}

.customers-list-link:hover .customers-list-icon {
  fill: #404bbf;
}
.customers-list-link:focus .customers-list-icon {
  fill: #404bbf;
}

/* Portfolio Mobile */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
}
.filter-buttons {
  margin-bottom: 48px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc ((100% - 48px) / 3);
}
.btn {
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-dur-func),
    background-color var(--transition-dur-func),
    border-color var(--transition-dur-func),
    box-shadow var(--transition-dur-func);
}
.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.card-link {
  display: block;
  transition: box-shadow var(--transition-dur-func);
}

.card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-item {
  width: 100%;
}
.img-overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-func);
  background: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.card-link:focus .overlay {
  transform: translate(0, 0);
}

.card-link:hover .overlay {
  transform: translate(0, 0);
}

.card-content-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-content-wrapper .describtion {
  margin-bottom: 0;
}
.card-content-wrapper .second-header {
  text-align: left;
}
.position {
  margin-bottom: 8px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 96px 15px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-wrapper {
  width: 268px;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.describtion-light {
  color: #f4f4fd;
  line-height: 1.5;
}
.logo-studio-light {
  color: #f4f4fd;
}

.social-media-header {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-func);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icon {
  fill: var(--icon-fill-color);
}
.subscribe-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.subscribe-form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscribe-user-email-label {
  display: flex;
  width: 100%;
}

.subscribe-form-email {
  height: 40px;
  width: 100%;
  padding-left: 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-form-email::placeholder {
  color: #ffffff;
}

.subscribe-form-button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  height: 40px;
  min-width: 165px;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-dur-func);
}
.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: #404bbf;
}
.subscribe-form-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Modal form and backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-func),
    visibility var(--transition-dur-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-dur-func);
}
@media screen and (min-width: 280px) {
  .modal {
    width: 100%;
    max-width: 392px;
  }
}

.modal-close-btn {
  position: absolute;
  cursor: pointer;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-dur-func),
    border var(--transition-dur-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-func);
}
.modal-close-btn:hover .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

/* Modal Form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  display: block;
  margin-bottom: 4px;
}
.modal-form-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
.modal-form-input-content {
  position: relative;
}
.modal-form-input {
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color var(--transition-dur-func);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 8px;
}
.modal-form-comment-wrapper {
  display: block;
  margin-bottom: 16px;
}
.modal-form-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-color);
  transition: fill var(--transition-dur-func);
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color var(--transition-dur-func);
  border: 1px solid rgba(46, 47, 66, 0.2);
}
.modal-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.modal-form-check-desc {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  transition: background-color var(--transition-dur-func),
    opacity var(--transition-dur-func);
}

.modal-form-fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: '';
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  border-radius: 2px;
  margin-right: 8px;
}
.modal-form-fake-checkbox-icon {
  opacity: 0;
}
.modal-form-check:checked + .modal-form-check-desc .modal-form-fake-checkbox {
  background-color: #404bbf;
  border: none;
  border-color: #404bbf;
  fill: #ffffff;
}

.modal-form-check:checked
  + .modal-form-check-desc
  .modal-form-fake-checkbox-icon {
  opacity: 1;
}

.modal-form-submit {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-self: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-func);
}
.link-policy {
  color: var(--primary-color);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}

/* Modal Form */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .page-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  } */
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .menu-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color var(--transition-dur-func);
  }

  .menu-link:hover {
    color: #404bbf;
  }
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link:link::after {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    content: '';
    transition: opacity var(--transition-dur-func);
  }
  .menu-link.current {
    color: #404bbf;
  }

  .menu-link.current::after {
    opacity: 1;
  }

  .contacts {
    font-style: normal;
  }
  .contact-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contact-link {
    transition: color var(--transition-dur-func);
  }
  .contact-link:not(:last-child) {
    margin-right: 40px;
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  .hero {
    max-width: 767px;
  }
  .hero-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .modal {
    max-width: 408px;
    min-height: 576px;
  }
  /* Section2 */
  .work {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .work-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* Section Team */
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-member {
    flex-basis: calc((100% - 48px) / 2);
    margin-bottom: 64px;
  }
  /* Section Customers Tablet */
  .customers-list {
    gap: 24px;
  }
  .customers-list-link {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /* Portfolio Tablet */
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .filter-buttons {
    justify-content: center;
    margin-bottom: 64px;
  }
  .btn {
    padding: 12px 24px;
  }
  .portfolio-cards {
    column-gap: 24px;
    row-gap: 72px;
  }
  .card {
    width: calc((100% - 24px) / 2);
  }

  /* Footer Tablet */

  .container-footer {
    flex-direction: row;
    max-width: 582px;

    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .logo-footer {
    display: inline-block;
  }

  .social-media-header {
    text-align: left;
  }
  .subscribe-form-container {
    align-items: flex-start;
  }

  .subscribe-form {
    gap: 24px;
  }

  .subscribe-user-email-label {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contact {
    font-size: 16px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* Section2 */

  .work .second-header {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
  }
  .describtion {
    font-weight: 400;
  }
  .work-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .work-item-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  /* Section 3 */
  .section-work {
    display: flex;
    padding-top: 0;
  }
  .work-img {
    display: flex;
    gap: 24px;
  }
  .img {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
  /* Section Team */
  .team-member {
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  /* Section Customers Desktop */
  .customers-list {
    justify-content: center;
  }

  /* Portfolio Desktop*/
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .filter-buttons {
    margin-bottom: 72px;
  }
  .portfolio-cards {
    row-gap: 48px;
  }
  .card {
    width: calc((100% - 48px) / 3);
  }
  /* Footer Desktop */
  .footer {
    padding: 100px 0 100px;
  }
  .container-footer {
    align-items: baseline;
  }
  .footer-wrapper {
    margin-right: 120px;
    width: 264px;
  }

  .subscribe-form-container {
    margin-left: auto;
  }
}

/* Header */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin: 0 auto; */
  }

  .mobile-menu {
    overflow: auto;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-open-icon {
    stroke: #2e2f42;
  }
}
